doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")        
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    body
        section(class="section")
            div(class="container")
                h1(class="title mb-3") Encode and decrypt your message in .wav file 
                nav
                    div(class="nav nav-tabs" id="nav-tab" role="tablist")
                        a(class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Home
                        a(class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false") Profile
                div(class="tab-content" id="nav-tabContent")
                    div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
                        div.mt-3
                            h3 Encode your message in a .wav file 
                            form(action='/hideText', method='POST', encType="multipart/form-data")
                                div(class="form-group")
                                    label(for="message") Message
                                    input(class="form-control" type="text" id="message" name="message" placeholder="Your secret message here !")
                                div(class="form-group") 
                                    label(for="wav") Your .wav file 
                                    br
                                    input(type='file' id="wav" name='wav')
                                button(type='submit' class="btn btn-primary mb-2") Confirm
                        div.mt-3
                            h3 Decode a message from a .wav file 
                            form(action='/revealText', method='POST', encType="multipart/form-data")
                                div(class="form-group") 
                                    label(for="wav") Your .wav file
                                    br
                                    input(type='file' name='wav')
                                button(type='submit' class="btn btn-primary mb-2") Confirm                            
                    div(class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab")
                        div.mt-3
                            h3 Encode your image in a .wav file 
                            form(action='/hideImage', method='POST', encType="multipart/form-data")
                                div(class="form-group") 
                                    label(for="wav") Your .jpg file
                                    br
                                    input(type='file' name='wav')
                                div(class="form-group") 
                                    label(for="wav") Your .wav file
                                    br
                                    input(type='file' name='wav')    
                                button(type='submit' class="btn btn-primary mb-2") Confirm     
                        div.mt-3                        
                            h3 Decode a message from a .wav file
                            form(action='/revealImage', method='POST', encType="multipart/form-data")
                                div(class="form-group") 
                                    label(for="wav") Your .wav file
                                    br
                                    input(type='file' name='wav')
                                button(type='submit' class="btn btn-primary mb-2") Confirm